<table>
  <thead>
    <tr>
      <th></th>
      <% users.each do |user| %>
        <th><%= user[:name] %></th>
      <% end %>
      <th>TOTAL</th>
      <th>TOTAL DAYS</th>
    </tr>
  </thead>
  
  <tbody>
    <% projects.each do |project| %>
      <tr>
        <th><%= project[:client_name] + ' - ' + project[:name] %></th>
        <% users.each do |user| %>
          <td>
            <%= '%.1f' % project_user_hours[project[:id]][user[:id]] %>
          </td>
        <% end %>
        <td><%= '%.1f' % project[:total] %></td>
        <td><%= '%.1f' % (project[:total] / 8) %></td>
      </tr>
    <% end %>
  </tbody>
</table>